<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/movies">
        Movies
      </a>
      <a class="navbar-brand" href="/movies/new">
        New Movie
      </a>
      <a class="navbar-brand" href="/directors">
        Directors
      </a>
      <a class="navbar-brand" href="/directors/new">
        New Director
      </a>
    </div>
  </div>
</nav>
