form {
  width:500px;
  
  .form-group {
    font-weight: 100;
    letter-spacing: 5px;

    .form-control {
      box-shadow: none;
      border-radius: 0;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-bottom: 1px solid black;
      padding:20px 10px;

      &::placeholder {
        letter-spacing: 3px;
      }
    }
  }
}
